.env
EO4GEO-BoK-Extraction/input/sampleDataFrameInput.json
EO4GEO-BoK-Extraction/output/sampleDataFrameOutput.json
Ontology-Development/Ontology-BoK.properties
Ontology-Development/Ontology-BoK-Applications.properties
test.json